@model IEnumerable<TrainigSectorDataEntry.ViewModel.SpecializationImageVM>

<h2>صور وتفاصيل تخصص: @ViewBag.specializationName</h2>
<div class="row">

    <div class="col-md-10">
        <a asp-action="Create"
           asp-route-specializationId="@ViewBag.SpecializationId"
           asp-route-educationalFacilitiesName="@ViewBag.educationalFacilitiesName"
           asp-route-specializationName="@ViewBag.specializationName"
           asp-route-departmentName="@ViewBag.departmentName"
           class="btn btn-primary mb-3">
            إضافة
        </a>
    </div>
    <div class="col-md-2">
        <a asp-controller="Specialization"
           asp-action="Index"
           class="button2 right-4tens">
            <span class="button2__text"> رجوع للتخصصات </span>
            <span class="button2__icon">

                <i class="fa-solid fa-arrow-right" style="color:white"></i>
            </span>
        </a>
    </div>
</div>




<table class="table table-bordered">
    <thead>
        <tr>
            <th>المنشأه التعليمية</th>
            <th>نوع القسم</th>
            <th>العنوان</th>
            <th>الوصف</th>
            <th>الصورة</th>
            <th>الحالة</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@ViewBag.educationalFacilitiesName</td>
                <td>@ViewBag.departmentName</td>
                <td>@item.TitleAr</td>
                <td>@item.DescriptionAr</td>
                <td>
                    <img src="/Files/@item.ImagePath"
                         style="width:60px;height:60px;object-fit:cover" />
                @*     <img src="@item.ImagePath" width="100" /> *@
                </td>
                <td>
                    @(item.IsActive ? "مفعل" : "غير مفعل")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">تعديل</a>

                    <a href="javascript:void(0);"
                       class="btn btn-sm btn-danger"
                       onclick="confirmDelete(@item.Id)">
                        حذف
                    </a>
                  
                </td>
                
            </tr>
        }
    </tbody>
</table>
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "لن تتمكن من التراجع عن هذا!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545', // red
            cancelButtonColor: '#6c757d', // grey
            confirmButtonText: 'نعم، احذف!',
            cancelButtonText: 'إلغاء'
        }).then((result) => {
            if (result.isConfirmed) {
                // Navigate to Delete action
                window.location.href = '/SpecializationImage/Delete/' + id;
            }
        });
    }
</script>