@model List<TrainigSectorDataEntry.ViewModel.EducationalLevelVM>


@foreach (var educationalLevel in Model)
{
    <tr>
        <td>@educationalLevel.NameAr</td>
        <td>@educationalLevel.NameEn</td>
        <td>@educationalLevel.EducationalFacilities?.NameAr</td>
        <td>
            @if (educationalLevel.IsActive)
            {
                <span class="badge bg-success">مفعل</span>
            }
            else
            {
                <span class="badge bg-danger">غير مفعل</span>
            }
        </td>

        <td>

            <a class="buttonedit right-4tens " asp-action="Edit" asp-route-id="@educationalLevel.Id">
                <span class="buttonedit__text">تعديل</span>
                <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
            </a>

            <a class="buttonremove right-4tens " asp-action="Delete" asp-route-id="@educationalLevel.Id">
                <span class="buttonremove__text"> حذف</span>
                <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
            </a>

          
        </td>
    </tr>
}
