@model List<TrainigSectorDataEntry.ViewModel.DepartmentsandbranchVM>

@if (Model != null && Model.Any())
{@foreach (var departmentandbranch in Model)
    {
        <tr>
            <td>@departmentandbranch.NameAr</td>
            <td>@departmentandbranch.NameEn</td>
            <td>@departmentandbranch.EducationalFacilities?.NameAr</td>

            <td>@departmentandbranch.DepatmentType?.NameAr</td>
            <td>
                @if (departmentandbranch.IsActive)
                {
                    <span class="badge bg-success">مفعل</span>
                }
                else
                {
                    <span class="badge bg-danger">غير مفعل</span>
                }
            </td>

            <td>

                <a asp-controller="DepartmentsandBranchesImages" asp-action="Index" asp-route-departmentId="@departmentandbranch.Id"
                   asp-route-educationalFacilitiesName="@departmentandbranch.EducationalFacilities?.NameAr"
                   asp-route-depatmentTypeName="@departmentandbranch.DepatmentType?.NameAr"
                   class="btn btn-sm btn-info">التفاصيل / الصور</a>

                <a asp-action="Edit" asp-route-id="@departmentandbranch.Id" class="buttonedit right-4tens ">
                    <span class="buttonedit__text">تعديل</span>
                    <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
                </a>


                <a href="javascript:void(0);" class="buttonremove right-4tens "
                   onclick="confirmDelete(@departmentandbranch.Id)">
                    <span class="buttonremove__text"> حذف</span>
                    <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
                </a>
            </td>
        </tr>
    }

    
}
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "لن تتمكن من التراجع عن هذا!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545', // red
            cancelButtonColor: '#6c757d', // grey
            confirmButtonText: 'نعم، احذف!',
            cancelButtonText: 'إلغاء'
        }).then((result) => {
            if (result.isConfirmed) {
                // Navigate to Delete action
                window.location.href = '/Departmentsandbranches/Delete/' + id;
            }
        });
    }
</script>