@model List<TrainigSectorDataEntry.ViewModel.DepartmentsandbranchVM>


@foreach (var departmentType in Model)
{
    <tr>
        <td>@departmentType.NameAr</td>
        <td>@departmentType.NameEn</td>
        <td>@departmentType.EducationalFacilities?.NameAr</td>

        <td>@departmentType.DepatmentType?.NameAr</td>
        <td>
            @if (departmentType.IsActive)
            {
                <span class="badge bg-success">مفعل</span>
            }
            else
            {
                <span class="badge bg-danger">غير مفعل</span>
            }
        </td>

        <td>

            <a asp-controller="DepartmentsandBranchesImages" asp-action="Index" asp-route-departmentId="@departmentType.Id"
               asp-route-educationalFacilitiesName="@departmentType.EducationalFacilities?.NameAr"
               asp-route-depatmentTypeName="@departmentType.DepatmentType?.NameAr"
               class="btn btn-sm btn-info">التفاصيل / الصور</a>

            <a asp-action="Edit" asp-route-id="@departmentType.Id" class="buttonedit right-4tens " >
                <span class="buttonedit__text">تعديل</span>
                <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
            </a>

            <a asp-action="Delete" asp-route-id="@departmentType.Id" class="buttonremove right-4tens ">
                <span class="buttonremove__text"> حذف</span>
                <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
            </a>  
        </td>
    </tr>
}
