@model IEnumerable<TrainigSectorDataEntry.ViewModel.SliderVM>

@{
    ViewData["Title"] = "Slider";
}
<div class="container-fluid">
<div class="contPage">


    <div class="orang">
        <h3>الصور المتحركة </h3>
           <div></div>
    </div>
    

    </div>
@* <h2 class="text-center" style="margin-bottom: 80px;">slider</h2> *@

    <button type="button" asp-action="Create" class="button right-4tens ">
        <span class="button__text">  إضافة سليدر</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
    </button>

<table class="table table-bordered table-striped ">
    <thead class="thead-dark">
        <tr>
            <th>العنوان باللغة العربية</th>
            <th>العنوان باللغة الانجليزية</th>
            <th>التفاصيل باللغة العربية</th>
            <th>التفاصيل باللغة الانجليزية</th>
            <th>اسم الجهة</th>
            <th>التفعيل</th>
            <th>الصورة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var slider in Model)
        {
            <tr>
                <td>@slider.TitleAr</td>
                <td>@slider.TitleEn</td>
                <td>@slider.DescriptionAr</td>
                <td>@slider.DescriptionEn</td>
                <td>@slider.TrainigSector?.NameAr</td>
                <td>
                    @if (slider.IsActive)
                    {
                            <i class="fa-solid fa-toggle-on"> </i>
                       
                    }
                    else
                    {
                        <span class="badge bg-danger">غير مفعل</span>
                    }
                </td>
                <td>

                    <img src="/Files/@slider.ImagePath" alt="Project Image" style="width: 60px; height: 60px; object-fit: cover; margin: 2px;" />
                </td>
                <td>
                        <button type="button" asp-action="Edit" asp-route-id="@slider.Id" class="buttonedit right-4tens ">
                            <span class="buttonedit__text">تعديل</span>
                            <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
                        </button>

                        <button type="button" asp-action="Delete" asp-route-id="@slider.Id" class="buttonremove right-4tens ">
                            <span class="buttonremove__text"> حذف</span>
                            <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
                        </button>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
  
</div>