@model List<TrainigSectorDataEntry.ViewModel.ServiceVM>


@foreach (var service in Model)
{
    <tr>
        <td>@service.TitleAr</td>
        <td>@service.TitleEn</td>
        <td>@service.DescriptionAr</td>
        <td>@service.DescriptionEn</td>
        <td>@service.EducationalFacilities?.NameAr</td>
        <td>@service.UserCreationDate?.ToString("yyyy-MM-dd")</td>
        <td>
            @if (service.IsActive)
            {
                <span class="badge bg-success">مفعل</span>
            }
            else
            {
                <span class="badge bg-danger">غير مفعل</span>
            }
        </td>
        <td>

            <img src="/Files/@service.ImagePath" alt="Project Image" style="width: 60px; height: 60px; object-fit: cover; margin: 2px;" />



        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@service.Id" class="btn btn-sm btn-warning">تعديل</a>

            <a asp-action="Delete" asp-route-id="@service.Id" class="btn btn-sm btn-danger">حذف</a>
        </td>
    </tr>
}

