@model IEnumerable<TrainigSectorDataEntry.ViewModel.QualityCertificateVM>

@{
    ViewData["Title"] = "شهادات الجودة";
}

<h2 class="text-center" style="margin-bottom: 80px;">شهادات الجودة</h2>

<a asp-action="Create" class="btn btn-success mb-3">إضافة شهادة جودة</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>العنوان باللغة العربية</th>
            <th>العنوان باللغة الانجليزية</th>
            <th>المنشأت التعليمية</th>
            <th>التفعيل</th>
            <th>الصورة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var qualityCertificate in Model)
        {
            <tr>
                <td>@qualityCertificate.TitleAr</td>
                <td>@qualityCertificate.TitleEn</td>
                <td>@qualityCertificate.EducationalFacilities?.NameAr</td>
                <td>
                    @if (qualityCertificate.IsActive)
                    {
                        <span class="badge bg-success">مفعل</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">غير مفعل</span>
                    }
                </td>
                <td>

                    <img src="/Files/@qualityCertificate.ImagePath" alt="Project Image" style="width: 60px; height: 60px; object-fit: cover; margin: 2px;" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@qualityCertificate.Id" class="btn btn-sm btn-warning">تعديل</a>

                    <a asp-action="Delete" asp-route-id="@qualityCertificate.Id" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
