@model IEnumerable<TrainigSectorDataEntry.ViewModel.StagesAndHallVM>

@{
    ViewData["Title"] = "القاعات والمسارح";
}

<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>القاعات والمسارح </h3>
            <div></div>
        </div>


    </div>
    <a asp-action="Create" class="button right-4tens ">

        <span class="button__text"> إضافة قاعة او مسرح</span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>

    </a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>الوصف باللغة العربية</th>
            <th>الوصف باللغة الانجليزية</th>
            <th>الجهة</th>
            <th>قاعة أم مسرح</th>
            <th>التفعيل</th>
            <th>الصورة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stagesAndHall in Model)
        {
            <tr>
                <td>@stagesAndHall.DescriptionAr</td>
                <td>@stagesAndHall.DescriptionAr</td>
                <td>@stagesAndHall.TrainigSector?.NameAr</td>
                <td>
                    @if (stagesAndHall.ISStage == true)
                    {
                        <span class="badge bg-success">مسرح</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">قاعة</span>
                    }
                </td>
                <td>
                    @if (stagesAndHall.IsActive)
                    {
                        <span class="badge bg-success">مفعل</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">غير مفعل</span>
                    }
                </td>
                <td>

                    <img src="/Files/@stagesAndHall.ImagePath" alt="Project Image" style="width: 60px; height: 60px; object-fit: cover; margin: 2px;" />
                </td>
                <td>
                        <a asp-action="Edit" asp-route-id="@stagesAndHall.Id" class="buttonedit right-4tens ">
                            <span class="buttonedit__text">تعديل</span>
                            <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
                        </a>

                        <a href="javascript:void(0);" class="buttonremove right-4tens "
                           onclick="confirmDelete(@stagesAndHall.Id)">
                            <span class="buttonremove__text"> حذف</span>
                            <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>

<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'هل أنت متأكد؟',
            text: "لن تتمكن من التراجع عن هذا!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#dc3545', // red
            cancelButtonColor: '#6c757d', // grey
            confirmButtonText: 'نعم، احذف!',
            cancelButtonText: 'إلغاء'
        }).then((result) => {
            if (result.isConfirmed) {
                // Navigate to Delete action
                window.location.href = '/StagesAndHall/Delete/' + id;
            }
        });
    }
</script>