@model IEnumerable<TrainigSectorDataEntry.ViewModel.DepartmentTypeVM>

@{
    ViewData["Title"] = "انواع الاقسام";
}

<h2 class="text-center" style="margin-bottom: 80px;">انواع الاقسام</h2>

<a asp-action="Create" class="btn btn-success mb-3">إضافة نوع القسم</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>الاسم باللغة العربية</th>
            <th>الاسم باللغة الانجليزية</th>
           @*  <th>التخصص</th> *@
            <th>التفعيل</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var departmentType in Model)
        {
            <tr>
                <td>@departmentType.NameAr</td>
                <td>@departmentType.NameEn</td>
               @*  <td>@departmentType.Specialization?.NameAr</td> *@
                <td>
                    @if (departmentType.IsActive)
                    {
                        <span class="badge bg-success">مفعل</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">غير مفعل</span>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@departmentType.ID" class="btn btn-sm btn-warning">تعديل</a>

                    <a asp-action="Delete" asp-route-id="@departmentType.ID" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
