
@model IEnumerable<TrainigSectorDataEntry.ViewModel.SucessStoryVM>

@{
    ViewData["Title"] = "قصة نجاح";
}

<h2 class="text-center" style="margin-bottom: 80px;">قصة نجاح</h2>

<a asp-action="Create" class="btn btn-success mb-3">إضافة قصة نجاح</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>عنوان قصة النجاح باللغة العربية</th>
            <th>عنوان قصة النجاح باللغة الانجليزية</th>
            <th>الجهة</th>
            <th>الصورة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TitleAr</td>
                <td>@item.TitleEn</td>
                <td>@item.TrainigSector?.NameAr</td>
                <td>

                    <img src="@("/Storage/" + item.ImagePath)" alt="Project Image" style="width: 60px; height: 60px; object-fit: cover; margin: 2px;" />
                </td>
            @*     <td>
                    @if (item.IsExternalLink == true && !string.IsNullOrEmpty(item.VedioPath))
                    {
                        <a href="@item.VedioPath" target="_blank">لينك خارجي</a>
                    }
                    else if (!string.IsNullOrEmpty(item.VedioPath))
                    {
                        <video width="200" height="140" controls>
                            <source src="@item.VedioPath" type="video/mp4" />
                            لا يدعم متصفحك علامة الفيديو.
                        </video>
                    }
                </td> *@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">تعديل</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">حذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
