@model TrainigSectorDataEntry.ViewModel.DepartmentsandBranchesImageVM


<div class="container-fluid">
    <div class="contPage">


        <div class="orang2">
            <h3>اضافة تفاصيل للشعبة </h3>
            <div></div>
        </div>


    </div>




<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <br />
    <div class="form-group">
        <label  class="control-label"> المنشأة التعليمية:</label>
        <span>@ViewBag.educationalFacilitiesName</span>
     
    
    </div>

    <br />

    <div class="form-group">
        <label  class="control-label"> نوع القسم:</label>
        <span>@ViewBag.depatmentTypeName</span>
        <input asp-for="DepartmentsandbranchesId" value="@ViewBag.DepartmentId" hidden />
        <input asp-for="educationalFacilitiesName" value="@ViewBag.educationalFacilitiesName" hidden />
        <input asp-for="depatmentTypeName" value="@ViewBag.depatmentTypeName" hidden />
   
    </div>
    <br />
    <div class="form-group">
        <label asp-for="TitleAr" class="control-label">العنوان باللغة العربية</label>
        <input asp-for="TitleAr" class="form-control" />
        <span asp-validation-for="TitleAr" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <label asp-for="TitleEn" class="control-label">العنوان باللغة الانجليزي</label>
        <input asp-for="TitleEn" class="form-control" />
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DescriptionAr" class="control-label">التفاصيل باللغة العربية</label>
        <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="DescriptionEn" class="control-label">التفاصيل باللغة الانجليزي</label>
        <textarea asp-for="TitleEn" class="form-control my-textarea" ></textarea>
        <span asp-validation-for="TitleEn" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="UploadedImage">تحميل الصورة</label>
        <input asp-for="UploadedImage" type="file" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>

    <br />
        <div class="row">

            <div class="col-md-6">

                <button type="submit" class="button right-4tens float-left">
                    <span class="button__text"> إضافة </span>
                    <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                </button>


            </div>
            <div class="col-md-6">

                <a asp-action="Index" class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" >

                    <span class="buttonremove__text"> إلغاء</span>
                    <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
                </a>

            </div>

        </div>

</form>
<br />
</div>




