@model TrainigSectorDataEntry.ViewModel.DepartmentsandBranchesImageVM





    <div class="container-fluid">

<div class="contPage">


    <div class="orang2">
        <h3>تعديل صورة القسم: @ViewBag.DepartmentName</h3>

        <div></div>
    </div>


</div>

<h4>المنشأة التعليمية: @ViewBag.educationalFacilitiesName</h4>

<br />
<h4>نوع القسم: @ViewBag.depatmentTypeName</h4>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="DepartmentsandbranchesId" />
    <input type="hidden" asp-for="educationalFacilitiesName" value="@ViewBag.educationalFacilitiesName" />
    <input type="hidden" asp-for="depatmentTypeName" value="@ViewBag.depatmentTypeName" />
    <br />
    <div class="mb-3">
        <label>العنوان العربي</label>
        <input asp-for="TitleAr" class="form-control" />
        <span asp-validation-for="TitleAr" class="text-danger"></span>
    </div>
    <br />
        <div class="mb-3">
            <label>العنوان الانجليزي</label>
            <input asp-for="TitleEn" class="form-control" />
            <span asp-validation-for="TitleEn" class="text-danger"></span>
        </div>
        <br />
    <div class="mb-3">
        <label>الوصف العربي</label>
        <textarea asp-for="DescriptionAr" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionAr" class="text-danger"></span>
    </div>
    <br />
    <div class="mb-3">
        <label>الوصف الانجليزي</label>
        <textarea asp-for="DescriptionEn" class="form-control my-textarea"></textarea>
        <span asp-validation-for="DescriptionEn" class="text-danger"></span>
    </div>
    <br />
    <div class="mb-3">
        <label>الصورة الحالية</label><br />
        <img src="/Files/@Model.ImagePath"
             style="width:120px;height:120px;object-fit:cover" />
    </div>
    <br />
    <div class="mb-3">
        <label>تغيير الصورة (اختياري)</label>
        <input asp-for="UploadedImage" type="file" class="form-control" />
        <span asp-validation-for="UploadedImage" class="text-danger"></span>
    </div>
    <br />




    <div class="row">

        <div class="col-md-6">

            <button type="submit" class="button right-4tens float-left">
                <span class="button__text"> حفظ </span>
                <span class="button__icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg save-icon">

                        <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path>
                        <polyline points="17 21 17 13 7 13 7 21"></polyline>
                        <polyline points="7 3 7 8 15 8"></polyline>

                    </svg>
                </span>
            </button>


        </div>
        <div class="col-md-6">

            <a asp-action="Index"
               asp-route-departmentId="@Model.DepartmentsandbranchesId"
               class="buttonremove right-4tens float-right" style="border: 1px solid #333333;background-color: #333333;" >

                <span class="buttonremove__text"> رجوع</span>
                <span class="buttonremove__icon" style="background-color: #333333;"> <i class="fa-solid fa-x"></i></span>
            </a>

        </div>

    </div>

</form>

</div>

