@model IEnumerable<TrainigSectorDataEntry.ViewModel.DepartmentsandBranchesImageVM>

<div class="class=" container-fluid"">

   
<div class="contPage">


    <div class="orang2">
        <h3>صور وتفاصيل قسم: @ViewBag.DepartmentName</h3>

        <div></div>
    </div>


</div>

    <a asp-action="Create"
       asp-route-departmentId="@ViewBag.DepartmentId"
       asp-route-educationalFacilitiesName="@ViewBag.educationalFacilitiesName"
       asp-route-depatmentTypeName="@ViewBag.depatmentTypeName"
       class="button right-4tens ">
        <span class="button__text"> إضافة </span>
        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>

    </a>







<table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>المنشأه التعليمية</th>
            <th>نوع القسم</th>
            <th>العنوان</th>
            <th>الوصف</th>
            <th>الصورة</th>
            <th>الحالة</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@ViewBag.educationalFacilitiesName</td>
                <td>@ViewBag.depatmentTypeName</td>
                <td>@item.TitleAr</td>
                <td>@item.DescriptionAr</td>
                <td>
                    <img src="/Files/@item.ImagePath"
                         style="width:60px;height:60px;object-fit:cover" />
                   @*  <img src="@item.ImagePath" width="100" /> *@
                </td>
                <td>
                    @(item.IsActive ? "مفعل" : "غير مفعل")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-departmentId="@ViewBag.DepartmentId" class="buttonedit right-4tens " >
                            <span class="buttonedit__text">تعديل</span>
                            <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
                        </a>



                  



                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-departmentId="@ViewBag.DepartmentId" class="buttonremove right-4tens "
                        
                         onclick="return confirm('هل أنت متأكد من الحذف؟'); ">
                           
                            <span class="buttonremove__text"> حذف</span>
                            <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
                        </a>

                    @* <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">حذف</a> *@
                </td>
               
            </tr>
        }
    </tbody>
</table>

                    </div>








