@model List<TrainigSectorDataEntry.ViewModel.TrainingCourseVM>

@foreach (var trainingCourse in Model)
{
    <tr>
        <td>@trainingCourse.NameAr</td>
        <td>@trainingCourse.NameEn</td>
        <td>@trainingCourse.TrainigCoursesTypes?.NameAr</td>
        <td>

            @if (!string.IsNullOrEmpty(trainingCourse.FilePath))
            {
                <a asp-controller="Files" asp-action="Download" asp-route-filePath="@trainingCourse.FilePath">
                    تحميل
                </a>

                @* <a href="@("/Storage/" + trainingCourse.FilePath)" target="_blank">تحميل</a> *@
            }
        </td>
        <td>
            @if (trainingCourse.IsActive)
            {
                <span class="badge bg-success">مفعل</span>
            }
            else
            {
                <span class="badge bg-danger">غير مفعل</span>
            }
        </td>

        <td>



            <a class="buttonedit right-4tens " asp-action="Edit" asp-route-id="@trainingCourse.Id">
                <span class="buttonedit__text">تعديل</span>
                <span class="buttonedit__icon"> <i class="fas fa-edit"></i></span>
            </a>
            <a class="buttonremove right-4tens " asp-action="Delete" asp-route-id="@trainingCourse.Id">
                <span class="buttonremove__text"> حذف</span>
                <span class="buttonremove__icon"> <i class="fa-solid fa-x"></i></span>
            </a>

        </td>
    </tr>
}








